<%= form_for(:coupun, url: apply_discount_cart_path, remote: true) do |f| %>
  <div class="field">
      <%= f.text_field :discount_coupon, required: true, placeholder: "Enter discount coupon"%>
      <%= f.submit "Get Discount", class:"btn btn-primary btn-sm" %>
  </div>
<% end %>
