// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product-link {
  margin-right: 10px;
}

.product-price {
  margin-right: 20px;
  font-size: large;
}

.image-feilds {
  margin-left: 165px;
}

.remove-image {
  margin-left: 25px;
}

.add-image {
  margin: 10px 0 10px 165px;
}

.product-title {
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  margin: 0 0 10px;
}

.price {
  margin: 0 0 10px;
  font-size: 16px;
}

.product-details, .user-details {
  font-size: 14px;
  margin-top: 3px;
}

.product-group > .btn-group .btn {
    width: 95%;
}

.search {
  font-size: 25px;
}

.cart-order {
  padding-top: 35px;
}

#cart-total-price {
  font-size: 15px;
  font-weight: 600;
}
