// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content,.reviews {
  margin-left: 120px;
}

.review-user {
  vertical-align: top;
}

.review-deletion {
  margin-top: 15px;
}

.product-methods {
  margin-top: 15px;
}

.new-product {
  margin-bottom: 20px;
}

.image-feild {
  margin: 15px 0;
}

.product {
  min-height: 100px;
}

.dashboard-product-title {
  margin: 5px 0 5px;
  font-size: 15px;
}
