<div class="form-container radius-box glassy-bg small-10 small-centered medium-8 large-6 columns">
  <h2>Order transaction</h2>
  <%= form_tag transactions_path do %>
    <div id="dropin"></div>
    <%= submit_tag "Proceed order with " + number_to_currency(cart_total_price), class: "btn btn-primary pull-right" %>
  <% end %>
</div>

<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
